/* NavBar.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* White background */
  padding: 10px 20px;
  color: black;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure navbar stays on top */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for better separation */
}

.navbar-logo img {
  width: 100px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-links a {
  color: black; /* Black nav links */
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-family: Montserrat;
}

.navbar-links a:hover {
  color: #555; /* Slightly darker on hover */
}

.navbar-auth {
  display: flex;
  gap: 10px;
}

.login-btn {
  background-color: transparent; /* Transparent background */
  border: 2px solid #007BFF; /* Blue border */
  color: #007BFF; /* Blue text */
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Light blue background on hover */
}

.register-btn {
  background-color: #007BFF; /* Blue background */
  border: none;
  color: white; /* White text */
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.register-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
